body {
  background-color: #fcfcfc;
}

.main-container {
  min-height: 100vh;
  /* background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .card {
  border: none;
  background: rgb(255 255 255 / 67%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  width: 30rem;
  height: 30rem;
}

.login-container .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container label {
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  width: 16rem;
  color: #232323;
}
.input-group .btn {
  left: -2.5rem;
  position: relative;
  z-index: 2;
  top: 0.48rem;
  font-size: 12px;
  border: none !important;
}

.search-box input {
  border-right: 1px solid #dee2e6 !important;
}
.form-control {
  border-radius: 1px;
  margin-top: 0.5em;
  font-size: 1rem;
  border-radius: 4px;
}

.input-group-btn {
  position: relative;
}

.login-container button,
.user-management button,
.groups button,
.permissions button,
.configuration button {
  border-radius: 3px;
  padding: 0.5em 3em;
  background-color: #045de9;
  border: none;
  font-weight: 600;
  border: 1px solid #045de9;
}

.login-container button:hover,
.user-management button:hover,
.configuration button:hover,
.groups button:hover,
.permissions button:hover {
  border-radius: 3px;
  padding: 0.5em 3em;
  background-color: white;
  border: none;
  font-weight: 600;
  color: #045de9;
  border: 1px solid #045de9;
  transition: all 0.3s;
}

.user-management button,
.user-management button:hover,
.configuration button,
.configuration button:hover {
  padding: 0.4rem 2rem;
}

.navbar {
  height: 4rem;
}

.sidebar {
  height: 90vh;
  border-right: none;
  box-shadow: 0px 44px 133px rgba(28, 56, 146, 0.16);
  background-color: #fcfcfc;
}
.nav-item {
  margin-top: 0.5rem;
}
.nav-item a {
  color: rgba(35, 35, 35, 0.5);
  padding: 0.7rem 0;
}
.user-management .input-group-append button {
  padding: 0.4rem 0.7rem;
}
.search-box {
  margin-right: 1.5rem;
}
.nav-pills .nav-link.active {
  background: white;
  color: #1a3387;
  border-right: 3px solid;
  border-radius: 3px;
  box-shadow: 0px 14px 31px rgba(28, 56, 146, 0.1);
  padding: 0.5rem 0em 0.5rem 0.3rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: -7rem;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a {
  padding: 0.5rem 1rem;
}

.user-management label,
.configuration label,
.groups label,
.permissions label {
  font-size: 13px;
  font-weight: 600;
  width: 14rem;
}

.smaller-text {
  font-size: 12px;
  font-weight: 600;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

span.eye-icon {
  right: 1rem;
  bottom: 0.5rem;
  cursor: pointer;
}

.loginLoader > .spinner-border {
  height: 1.5rem;
  width: 1.5rem;
  border-width: 0.15rem;
}

.create-user label {
  width: 75%;
}

label.group-select {
  width: 37%;
}

.delete-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.delete-card-body .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
}

.highlight-name {
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.alert-delete-text {
  font-size: 18px;
}

.warning-icon svg {
  font-size: 40px;
  color: red;
}
